<%- include('layouts/head') %>
		<div class="main-body-container">
			<div class="first-section">
				<div class="portfolio-div">
					<h3>Creating Investments – Curating Portfolios.</h3>
					<p>We are an investment boutique that values research, insight, and expertise to instill confidence for assertively investing in creative new businesses. Dedicated to the core foundations of our namesake (Objectivity, Humility, and Simplicity), we work hands-on with our clients the right way: collaboratively.</p>
				</div>
			</div>
		</div>
	<section></section>
<%- include('layouts/foot') %>
