<!DOCTYPE html>
<html>
<head>
	<title>Ohs</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/fonts/ohsfonts.css">
</head>
<body>
	<header class="main-header">
		<div class=""></div>
		<ul class="main-menu">
			<li>Enterpreneurs</li>
			<li>Our Portpolio</li>
			<li>Opportunities</li>
			<li>Who We Are</li>
			<li>News & Press</li>
			<li>Reach Out</li>
			<li>Search</li>
		</ul>
	</header>
		<div class="main-body-container"></div>
	<section></section>
	<footer class="main-footer">
		<div class="footer-form">
			<h1>Say Hello</h1>
			<form class="hello-form">
				<input type="text" placeholder="name">
				<input type="text" placeholder="email">
				<input type="text" placeholder="subject">
				<input type="text" placeholder="message">
				<button>Submit</button>
			</form>
		</div>
		<div class=""></div>
	</footer>

</body>
</html>