* {
    margin: 0;
    padding: 0;
    outline: 0;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent !important;
    background-image: none !important;
    color: #FFFFFF !important;
}
.main-header {
    height: 129px;
    width: 100%;
    display: block;
    background-color: #FFFFFF;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.main-menu {
    float: right;
}

.main-menu>li {
    list-style: none;
    display: inline-block;
    font-family: PlayfairDisplay;
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    padding: 28px;
    background-color: #FFFFFF;
    margin: 23px 0;
    cursor: pointer;
    float: left;
}

.main-menu>:last-child {
    margin-right: 40px;
}

.main-body-container {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-top: 2px solid #5f697a;
    min-height: 500px;
}

.main-footer {
    height: 620px;
    width: 100%;
    background-color: #99958C;
    box-sizing: border-box;
    padding-top: 70px;
    
}

.footer-form {
    float: left;
    /* padding-right: 230px; */
    padding-left: 11.90%;
    width: 46.6%;
    overflow: hidden;
    box-sizing: border-box;
}
.footer-form>h2,
.footer-address>h2 {
    color: #FFFFFF;
    font-family: PlayfairDisplay;
    font-size: 36px;
    margin-bottom: 47px;
}

.hello-form>input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: #99958C;
    padding-bottom: 18px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 28px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
}

.hello-form>input::placeholder {
    color: #FFFFFF !important;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.hello-form>button {
    height: 38px;
    width: 212px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
}
.footer-address{
    float: left;
    padding-left: 11.90%;
    width: 46.6%;
    box-sizing: border-box;
}
.first-address-field{
    display: block;
    overflow: hidden;
}
.sec-address-field{
    overflow: hidden;
    display: block;
    margin-top: 94px;
}
.address-div-one,
.address-div-two{
    float: left;
    width: 230px;
}
.address-div-three,
.address-div-four{
    float: left;
    width: 230px;
}
.address-div-two,
.address-div-four{
    margin-left: 4.27%;
}
.address-div-one>p,
.address-div-two>p,
.address-div-three>p,
.address-div-four>p{
	color: #FFFFFF;
	font-family: PlayfairDisplay;
	font-size: 24px;
}
.social-icons>span{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    margin-top: 18px;
    margin-right: 29px;
}
.social-icons>span:last-child{
    margin-right: 0px;
}

.first-section{
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    height: 800px;
    width: 100%;
    padding: 0 7.76%;
}
.portfolio-div {
	height: 650px;
    width: 41.67%;
    background-color: #a3775d;
    padding: 1.7% 8.5%;
    box-sizing: border-box;
}
.portfolio-div>h3{
    color: #FEFEFE;
    font-family: PlayfairDisplay;
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 60px;
}
.portfolio-div>p{
	color: #FFFEFE;
	font-family: PlayfairDisplay;
	font-size: 22px;
	/* letter-spacing: 25px; */
	line-height: 36px;
}